django
djangorestframework
django-cors-headers
requests
python-dotenv
pillow
transformers
torch
torchvision
torchaudio
accelerate
sentencepiece
librosa
soundfile
datasets
ollama
pypdf
sentence-transformers
protobuf
